body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
}
.block {
  background-color: rgb(36, 36, 36);
  width: 300px;
  padding: 50px;
  color: rgb(255, 255, 255);
}
.currencies {
  width: 400px;
  display: flex;
  list-style: none;
}
.currencies li {
  padding: 10px;
  border: 1px solid;
}
.currencies p {
  margin-left: 20px;
  color: rgb(255, 255, 255);
}
.currency-active {
  color: rgb(159, 94, 221);
}
.input {
  margin-left: 40px;
  width: 200px;
  height: 50px;
  font-size: 32px;
}
